<div class="p-4 bg-gradient-to-r bg-gradient-to-bl from-pink-400 via-red-400 to-yellow-400 rounded-lg shadow-lg bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-20 text-gray-900 ">
    
    <div class="-mt-12 flex justify-center">
        <img class="h-16 w-16 shadow ring-black ring-4 rounded-full" src="{{ reviewer_img }}" alt="{{ reviewer }}'s Photo">
    </div>
    <p class="mt-2 text-center font-semibold">{{ reviewer }} {% if testimonial.data.client %}, {{ testimonial.data.client }}{% endif %}</p> 

    <div class="mt-2">
        <p>{{ review_text | safe }} </p>
    
    </div>
    
    
</div>