---
title: Maciej Janowski
description: Maciej Janowski - Freelance Full Stack Developer Website available for hire
og_image_alt: Maciej Janowski - Freelance Full Stack Developer Website
og_image: /assets/img/og_default.png
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {% block title %} {{ title }} {% endblock %}
  </title>
  <meta charset="UTF-8" />
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}">
  {% endif %}
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{ og_image }}" />
  <meta property="og:image:alt" content="{{ og_image_alt }}" />

  <meta name="twitter:image" content="{{ og_image }}" />
  <meta property="twitter:image:alt" content="{{ og_image_alt }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@MaciejJanowski" />



  <link rel="stylesheet" href="/style.css?v={% version %}" />
  <link rel="stylesheet" href="/assets/css/highlight.css" />
  <style>
    [x-cloak] {
      display: none;
    }
    html{
    scroll-behavior: smooth;
    }
  </style>



  <link rel="preload" href="https://plausible.io/js/plausible.js" as="script">

  <script defer data-domain="janowski.dev" src="https://plausible.io/js/plausible.js"></script>
  `
  {% block head %}{% endblock %}
</head>

<body class="bg-gray-50 text-gray-900">


  {% block content %}
    {{ content | safe }}
    {% endblock %}
  {% include 'components/footer' %}



  <script src="/js/main.js?v={% version %}"></script>
  <script src="/js/alpine.js?v={% version %}"></script>

</body>

</html>